.page {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Adjusts the space between the image and the details */
  padding: 20px;
}

.page img {
  width: 500px; /* Adjust this based on the desired image size */
  height: auto; /* Maintains the image aspect ratio */
  object-fit: cover;
}

.page div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.page span {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.page b {
  margin-right: 8px;
}

.page div > div {
  margin-top: 10px;
}
